.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:#274690;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 25%;
    margin: 3px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
  }